---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";

import data from "../data/data.json";
const basics = data[0];
const classic = data[1];
const advanced = data[2];
---

<Layout title="VHGH ThreeJS Journey">
  <h1>ThreeJS Journey</h1>

  <div class="container">
    <div>
      <h2>1. Basics</h2>
      <ol>
        {
          basics.map((item) => {
            return (
              <Card
                imagePath={item.imagePath}
                imageAlt={item.imageAlt}
                classPath={item.classPath}
                classTitle={item.classTitle}
              />
            );
          })
        }
      </ol>
    </div>

    <div>
      <h2>2. Classic techniques</h2>
      <ol>
        {
          classic.map((item) => {
            return (
              <Card
                imagePath={item.imagePath}
                imageAlt={item.imageAlt}
                classPath={item.classPath}
                classTitle={item.classTitle}
              />
            );
          })
        }
      </ol>
    </div>

    <div>
      <h2>3. Advanced techniques</h2>
      <ol>
        {
          advanced.map((item) => {
            return (
              <Card
                imagePath={item.imagePath}
                imageAlt={item.imageAlt}
                classPath={item.classPath}
                classTitle={item.classTitle}
              />
            );
          })
        }
      </ol>
    </div>
  </div>
</Layout>

<style>
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    margin: 20px auto;
  }

  h2 {
    background-color: hsl(190, 60%, 80%);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto 15px auto;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  li {
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
  }
</style>
